# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# W&B
wandb/
dist/
build/
act_test.egg-info/

venv/
gcs-key.json
gcs-key-auth.json
sfcompute_orchestrator/gcs-key-auth.json
sfcompute_orchestrator/.envkubectl
